<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenCare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="">
        </div>

        <div class="menu">
            <li><a href="home.html">Trang chủ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="category.html">Sản phẩm</a>
                <ul class="submenu">
                    <li><a href="">Cây công trình</a></li>
                    <li><a href="">Cây cảnh văn phòng</a></li>
                    <li><a href="">Cây cảnh trong nhà</a></li>
                    <li><a href="">Cỏ công trình</a></li>
                    <li><a href="">Cây phong thủy</a></li>
                    <li><a href="">Hoa chậu</a></li>
                    <li><a href="">Cây để bàn</a></li>
                </ul>
            </li>
            <li><a href="">Dịch vụ cây xanh</a>
                <ul class="submenu">
                    <li><a href="">Dịch vụ bảo dưỡng cây xanh</a></li>
                    <li><a href="">Dịch vụ cho thuê cây xanh</a></li>
                    <li><a href="">Dịch vụ cắt tỉa cây xanh</a></li>
                    <li><a href="">Dịch vụ trồng cây xanh</a></li>
                    <li><a href="">Dịch vụ trồng cỏ</a></li>
                    <li><a href="">Dịch vụ vệ sinh công nghiệp</a></li>
                    <li><a href="">Dịch vụ cắt cỏ</a></li>
                    <li><a href="">Dịch vụ chăm sóc Mai sau Tết</a></li>
                </ul>
            </li>
            <li><a href="">Tuyển dụng</a></li>
            <li><a href="contact.html">Liên hệ</a></li>
        </div>
        
        <div class="others">
            <li><input type="text" placeholder="Tìm kiếm..."><i class="fa-solid fa-magnifying-glass search-icon"></i></li>
            <li class="user-menu">
                <a class="fa-solid fa-user" href=""></a>
                <ul class="user-submenu">
                    <li><a href="login.html">Đăng nhập</a></li>
                    <li><a href="signup.html">Đăng ký</a></li>
                </ul>
            </li>
            <li><a class="fa-solid fa-cart-shopping" href="cart.html"></a></li>
        </div>
        
    </header>
    <!-- PAY -->
    <section class="pay">
      <div class="container">
          <div class="pay-top-wrap">
              <div class="pay-top">
                  <div class="pay-top-cart cart-top-item">
                      <i class="fa fa-shopping-cart " aria-hidden="true"></i>
                  </div>
                  <div class="pay-top-marker cart-top-item">
                      <i class="fa fa-map-marker " aria-hidden="true"></i>
                  </div>
                  <div class="pay-top-card cart-top-item">
                      <i class="fa fa-credit-card " aria-hidden="true"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="pay-container row">
              <div class="pay-container-left">
                  <p>Vui lòng nhập đầy đủ thông tin bên dưới</p>
                  <!-- <div class="pay-container-left-dangnhap">
                      <p><i class="fa fa-sign-in" aria-hidden="true"></i> <a href="">Đăng nhập</a> (nếu bạn đã có tài khoản của GreenCare)</p>
                  </div>
                  <div class="pay-container-left-khachle row">
                      <input checked type="radio" name="loaikhach" >
                      <span style="font-weight: bold;">Khách lẻ</span>
                      <p>(Nếu bạn không muốn lưu lại thông tin)</p>
                  </div>
                  <div class="pay-container-left-dangky row">
                      <input type="radio" name="loaikhach" >
                      <span style="font-weight: bold;">Đăng ký</span>
                      <p>(Tạo mới tài khoảng với thông tin bên dưới)</p>
                  </div> -->
                  <div class="pay-container-left-input-top row">
                      <div class="pay-container-left-input-top-item">
                          <label for="">Họ tên <span style="color: red;">*</span></label>
                          <input type="text" name="hoten">
                      </div>
                      <div class="pay-container-left-input-top-item">
                          <label for="">Điện thoại <span style="color: red;">*</span></label>
                          <input type="text" name="dienthoai">
                      </div>
                      <div class="pay-container-left-input-top-item">
                          <label for="">Tỉnh/TP <span style="color: red;">*</span></label>
                          <input type="menu" name="tinh">
                      </div>
                      <div class="pay-container-left-input-top-item">
                          <label for="">Quận/Huyện <span style="color: red;">*</span></label>
                          <input type="text" name="quan">
                      </div>
                  </div>
                  <div class="pay-container-left-input-bottom">
                      <div class="pay-container-left-input-bottom-item">
                          <label for="">Phường/Xã <span style="color: red;">*</span></label>
                          <input type="text" name="quan">
                      </div>
                      <div class="pay-container-left-input-bottom-item">
                          <label for="">Địa chỉ <span style="color: red;">*</span></label>
                          <input type="text" name="quan">
                      </div>
                  </div>
                  <div class="pay-container-left-input-bottom row">
                      <a href="./cart.html"> &lt;&lt; Quay lại giỏ hàng </a>
                      <button onclick="window.location.href='./payment.html'"><i class="fa fa-shopping-basket"></i> Thanh toán và giao hàng</button>
                  </div>
              </div>
              <div class="pay-container-right">
                  <table>
                      <tr>
                          <th>Tên sản phẩm</th>
                          <th>Giảm giá</th>
                          <th>Số lượng</th>
                          <th>Thành tiền</th>
                      </tr>
                      <tr>
                          <td>
                              <p>Cây Vạn Niên Tùng</p>
                          </td>
                          <td>0%</td>
                          <td>1</td>
                          <td><p>5.400.000<sup>đ</sup></p></td>
                      </tr>
                      <!-- <tr>
                        <td>
                            <p>Cây...(Thêm sản phẩm)</p>
                        </td>
                        <td>0%</td>
                        <td>1</td>
                        <td><p>5.400.000<sup>đ</sup></p></td>
                    </tr> -->
                      <tr>
                          <td colspan="3">Tổng tiền</td>
                          <td><p>5.400.000<sup>đ</sup></p></td>
                      </tr>
                      <tr>
                          <td colspan="3"> Tạm tính</td>
                          <td><p>5.400.000<sup>đ</sup></p></td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer -->
     <footer>
      <div class="footer-top">
        <li>
          <a href=""><img src="../static/images/logo-thongbaobocongthuong-300x121.png"></a>
        </li>
        <li>
          <a href="" class="footer-top-menu">Liên hệ</a>
        </li>
        <li>
          <a href="" class="footer-top-menu">Tuyển dụng</a>
        </li>
        <li>
          <a href="" class="footer-top-menu">Giới thiệu</a>
        </li>
        <li>
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-youtube"></a>
        </li>
       </div>
       <div class="footer-bottom">
        <p>
          Công Ty Cổ Phần<br>
         ĐKKD/MST: 0313891315 do sở KH&ĐT TP.HCM cấp 04/07/2016 <br>
         Trụ sở: 100 Hải Thượng Lãn Ông, P.10, Quận 5, TP.HCM <br>
         <b>Hotline: 18009473.</b>
         </p>
       </div>
     </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>