/* Navbar */
.navbar {
    background-color: #49a011 !important;
}
.navbar-nav .nav-link {
    color: white !important;
}
.navbar-brand {
    color: white !important;
}
.dropdown-menu {
    background-color: #f8f9fa; /* Màu nền cho dropdown menu */
}
.dropdown-menu .dropdown-item {
    color: black !important; /* Màu chữ cho các mục trong dropdown */
}

.jumbotron {
    position: relative;
    background: url('../img/1.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.jumbotron h1, .jumbotron p {
    position: relative;
    z-index: 2;
}
.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Để đảm bảo chữ trắng nổi bật trên ảnh nền */
    z-index: 1;
}
/* Content */

.btn-custom {
    color: white;
    border-color: #49a010;
    background-color: #49a010;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 16px;
}
.btn-custom:hover {
    background-color: white;
    color: #49a010;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
